* { margin: 0; padding: 0; }
body{
    background-color: #000;
}
main {
    position: relative;
    width: 1280px;
    height: 720px;
    background-color: #000;
    border:white solid 1px;


}
.logo {
    
    position: absolute;
    
    left: 40px;
    top: 10px;
    color:white;
    animation:luces-texto 1.5s infinite;
    font-size: 75px;
    font-weight: bold;
}
.logo-violeta {
    position: absolute;
    left: 40px;
    top: 10px;
    color:white;
    animation:luces-texto 1.5s infinite;
    font-size: 75px;
    font-weight: bold;
    animation: luces-solo-violeta 3s infinite;
}
.iniciarjuego {
    display: block;
    padding: 24px;
    position: absolute;
    top:250px;
    left: 481px;
    width: 317px;
    height: 114px;
    font-size: 18px;
    color: #fff  ;
    background-color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff;
        
    text-shadow: 0 0 1px #fff;
      
}
.iniciarjuego:hover{
    animation: luces 2s infinite;  
}

.agregarpalabra {
    display: block;
    padding: 24px;
    position: absolute;
    width: 280px;
    height: 67px;
    left: 499px;
    top: 402px;
    font-size: 16px;
    color: #fff  ;
    background-color: transparent;
    border-radius: 1.3rem ; 
    border: 0.1rem solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff;
        
    text-shadow: 0 0 1px #fff;     
}  

.agregarpalabra:hover{
    animation: luces 3s infinite;
}
            
 @keyframes luces {
    0%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff;
        
        text-shadow: 0 0 7px #fff;
    
        }
    50%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #3afe13;
              
                
            
        text-shadow:
        0 0 7px #fff,
        0 0 10px #3afe13,
        0 0 21px #3afe13,
        0 0 42px #3afe13;
        
    
            }
    75%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff;
        
        text-shadow: 0 0 7px #fff;

    }        
    
    100%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #3afe13,
              0 0 0.8rem #3afe13, 
              inset 0 0 1.3rem #3afe13;
            
        
        text-shadow:
        0 0 7px #fff,
        0 0 10px #3afe13,
        0 0 21px #3afe13,
        0 0 42px #3afe13,
        0 0 82px #3afe13,
        0 0 92px #3afe13,
        0 0 102px #3afe13,
        0 0 151px #3afe13; 

        }

    
        
    }
@keyframes luces-texto {
    0%{
        text-shadow: 0 0 7px #fff;      
        }
    50%{     
        text-shadow:
        0 0 7px #fff,
        0 0 10px #3afe13,
        0 0 21px #3afe13,
        0 0 42px #3afe13;    
        }
    75%{
        text-shadow: 0 0 7px #fff;
        }        
    100%{
        text-shadow:
        0 0 7px #fff,
        0 0 10px #3afe13,
        0 0 21px #3afe13,
        0 0 42px #3afe13,
        0 0 82px #3afe13,
        0 0 92px #3afe13,
        0 0 102px #3afe13,
        0 0 151px #3afe13; 
    }
}
@keyframes luces-solo-violeta {
    0%{
       text-shadow: 0 0 7px #fff;
    }
    50%{
       text-shadow:
       0 0 7px #fff,
       0 0 10px #b413fe,
       0 0 21px #b413fe,
       0 0 42px #b413fe;
       
    }
    75%{
        text-shadow: 0 0 7px #fff;
        
    }        
    100%{
       text-shadow:
       0 0 7px #fff,
       0 0 10px #b413fe,
       0 0 21px #b413fe,
       0 0 42px #b413fe,
       0 0 82px #b413fe,
       0 0 92px #b413fe;
       
    }
}  

@keyframes luces-texto-violeta {
    0%{
       text-shadow: 0 0 7px #fff;
    }
    50%{
       text-shadow:
       0 0 7px #fff,
       0 0 10px #b413fe,
       0 0 21px #b413fe,
       0 0 42px #b413fe;
       box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #b413fe;
    }
    75%{
        text-shadow: 0 0 7px #fff;
        box-shadow: 0 0 .2rem #fff;
    }        
    100%{
       text-shadow:
       0 0 7px #fff,
       0 0 10px #b413fe,
       0 0 21px #b413fe,
       0 0 42px #b413fe,
       0 0 82px #b413fe,
       0 0 92px #b413fe;
       box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #b413fe,
              0 0 0.8rem #b413fe, 
              inset 0 0 1.3rem #b413fe;
    }
}           

@media screen and (max-width:480px){

    main{
        width: 100%;
        
    }
    
    .iniciarjuego, .agregarpalabra {
        position: relative;
        top:200px;
        left: 0%;
        margin: 50px auto 50px auto;
    
    }

    .iniciarjuego:hover, .agregarpalabra:hover {
        animation:luces 3s infinite;
    }
     
}

.texto-violeta {
    position: absolute;
    width: 299px;
    height: 48px;
    left: 376px;
    top: 256px;
    font-weight: 400;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border:none;
    outline: none;
}
.texto-violeta:hover {
    animation:luces-solo-violeta 3s infinite;
}

.botones-caja{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 688px;
    height: 67px;
    left: 296px;
    top: 449px;
    
    
}

.botones-agregar {
    width: 332px;
    height: 67px;
    background-color: transparent;
    color:white;
    border:white solid 2px;
    border-radius:24px;
    font-size: 18px;

}

.botones-agregar:hover {
    
    animation:luces-texto-violeta 3s infinite;
    
}

/*
box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #3afe13,
              0 0 0.8rem #3afe13, 
              inset 0 0 1.3rem #3afe13;
            
    border-radius: 2rem ; 
    text-shadow:
    0 0 7px #fff,
    0 0 10px #3afe13,
    0 0 21px #3afe13,
    0 0 42px #3afe13,
    0 0 82px #3afe13,
    0 0 92px #3afe13,
    0 0 102px #3afe13,
    0 0 151px #3afe13;     
*/
.botones-agregar:hover {
       
}
@keyframes luces-caja-violeta {
    0%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff;
        
        
    
        }
    50%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #b413fe;
              
        }
    75%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff;

    }        
    
    100%{
        box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #b413fe,
              0 0 0.8rem #b413fe, 
              inset 0 0 1.3rem #b413fe;
        }

    
        
    }
