*::after, *::before {
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(hellodenverdisplayregular_v1.6.woff);
  }
body {
    background-color: black;
}

.modal {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    color:white;
    width: 400px;
    max-width: 80%px;

}

.modal.active {
    transform: translate(-50%, -50%) scale(1);

}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;

}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.texto {
    
    font-size: 205px;
    font-family: myFont;
    animation: luces-texto 3s infinite;
    color:white;
    
}



.rotar   {
    display: inline-block;
    transform: rotate(2deg);
    text-shadow: 0 0 1px white,
                 0 0 3px white;
    font-size: 205px;
    font-family: myFont;
    color:white;
    animation: none;

}

@keyframes luces-texto {
    0%{
        text-shadow: 0 0 7px #fff;      
        }
    50%{     
        text-shadow:
        0 0 7px #fff,
        0 0 10px #3afe13,
        0 0 21px #3afe13,
        0 0 42px #3afe13;    
        }
    75%{
        text-shadow: 0 0 7px #fff;
        }        
    100%{
        text-shadow:
        0 0 7px #fff,
        0 0 10px #3afe13,
        0 0 21px #3afe13,
        0 0 42px #3afe13,
        0 0 82px #3afe13,
        0 0 92px #3afe13,
        0 0 102px #3afe13,
        0 0 151px #3afe13; 
    }
}